.btn-up {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  transform: scale(1.3);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); }
  .btn-up i {
    transform: rotate(-90deg); }

.container {
  max-width: 1100px;
  position: relative; }

.container-fluid {
  overflow: hidden; }

body {
  background: rgba(0, 0, 0, 0.12); }

.hide {
  display: none; }

@media screen and (max-width: 650px) {
  .head_article a h2 {
    font-size: 24px; } }
@media screen and (max-width: 900px) {
  .banner {
    display: none; } }
@media screen and (max-width: 795px) {
  .nav-md {
    display: none; }

  .nav a {
    padding: 5px; } }
.bshad, .menu {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }

.menu {
  background: white;
  opacity: 0.9; }
  .menu a {
    margin: 20px 25px;
    color: rgba(0, 0, 0, 0.9);
    opacity: 1; }

.banner .img {
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.1) url("../img/fondo_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9; }

.articles {
  height: 1000px; }

.container-fluid {
  background: rgba(255, 255, 255, 0.8); }

.main_content {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }

.main_conte {
  margin-bottom: 20px; }
  .main_conte article {
    padding: 15px;
    background: white;
    border-radius: 3px;
    margin-top: -80px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .main_conte article .head hr {
      margin: 0;
      margin-top: -5px; }
    .main_conte article .head .post_metadata {
      margin-left: 20px; }
      .main_conte article .head .post_metadata p {
        font-size: 13px; }
        .main_conte article .head .post_metadata p i {
          font-size: 11px; }
        .main_conte article .head .post_metadata p .comments, .main_conte article .head .post_metadata p .views {
          margin: 0 20px; }
        .main_conte article .head .post_metadata p .comments {
          float: right; }
        .main_conte article .head .post_metadata p .views {
          float: right; }
    .main_conte article .autor_details {
      max-width: 200px;
      margin-top: 40px;
      margin-bottom: 10px;
      float: left; }
      .main_conte article .autor_details .user_pic {
        width: 150px; }
      .main_conte article .autor_details .user_details {
        margin-top: 10px; }
        .main_conte article .autor_details .user_details p {
          margin: 0;
          font-size: 12px; }
        .main_conte article .autor_details .user_details .short_usrdescription {
          margin-top: 5px; }
    .main_conte article .body {
      margin-top: 20px; }
      .main_conte article .body .paragaph p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
        text-align: justify;
        text-justify: inter-word; }
      .main_conte article .body .publicidad_image {
        width: 400px;
        margin: 10px auto; }
  .main_conte .aside .asi_content {
    background: white;
    margin-top: 30px;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.03); }
    .main_conte .aside .asi_content .find {
      padding-top: 5px; }
    .main_conte .aside .asi_content .posts_sections {
      margin-top: 20px; }
      .main_conte .aside .asi_content .posts_sections .head hr {
        margin: 0;
        margin-top: -5px; }
      .main_conte .aside .asi_content .posts_sections .body {
        margin-top: 10px; }
  .main_conte .related_articles {
    background: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.05); }
    .main_conte .related_articles .body {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0; }
      .main_conte .related_articles .body img {
        width: 100%; }
      .main_conte .related_articles .body h5 {
        margin-top: 5px;
        font-size: 15px; }
        .main_conte .related_articles .body h5 a {
          color: rgba(0, 0, 0, 0.7); }

footer {
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); }
  footer .container .widgets .brr .items {
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  footer .container .widgets .widget .head h5 {
    color: white; }
  footer .container .widgets .widget .head hr {
    margin: 0;
    margin-top: -8px;
    background: white; }
  footer .container .widgets .widget .items {
    list-style: none;
    padding: 0;
    padding-left: 5px; }
    footer .container .widgets .widget .items li a {
      color: white;
      font-size: 14px; }
  footer .container .widgets .widget .horizontal-list {
    margin-top: 10px; }
    footer .container .widgets .widget .horizontal-list li {
      display: inline; }
      footer .container .widgets .widget .horizontal-list li a i {
        font-size: 30px; }
      footer .container .widgets .widget .horizontal-list li a .facebook {
        color: #3B47F5; }
      footer .container .widgets .widget .horizontal-list li a .twitter {
        color: #1DA1F2; }
      footer .container .widgets .widget .horizontal-list li a .youtube {
        color: #EB1C24; }
      footer .container .widgets .widget .horizontal-list li a .github {
        color: white; }
  footer hr {
    margin: 0; }
  footer p {
    color: white;
    margin: 0; }

/*# sourceMappingURL=layout.css.map */
